<!DOCTYPE html>
<html>
<head>

<title>Units</title>

<style>

body{
font-family:Segoe UI;
background:#f2f2f2;
margin:0;
}

.container{
padding:40px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

button{
background:#6a11cb;
border:none;
padding:10px 20px;
color:white;
border-radius:8px;
cursor:pointer;
}

</style>

</head>

<body>

<div class="container">

<h2>Units</h2>

<div class="grid">

{% for u in units %}

<div class="card">

<h3>{{u.name}}</h3>

<a href="/materials/{{u.id}}">
<button>Study Material</button>
</a>

</div>

{% endfor %}

</div>

</div>

</body>
</html>
